<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ID=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <title>Master Binding!</title>
    <!--Include Bootstrap-->
    <link rel="stylesheet" href="css/vendor/foundation/foundation.css">
    <link rel="stylesheet" href="css/main.css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!--Live Reload-->
    <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
<div ng-controller="MainController">
   <!-- <input ng-model="myfilter.upper">
    {{ myfilter.upper | uppercase}}-->
    <h1>Filter By Name and limit to 2</h1>
    <input ng-model="myfilter.name">
    <div ng-repeat="user in mydata.arr | filter: myfilter | orderBy:'name' | limitTo:-2">
        {{ user }}
    </div>

    <hr>

    <h1>Filter By Age</h1>
    <input ng-model="myfilter.age">
    <div ng-repeat="user2 in mydata.arr | filter: myfilter | orderBy:'age'">
        {{ user2 }}
    </div>
</div>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
<script src="js/vendor/jquery/jquery.js" type="text/javascript"></script>
<script src="js/vendor/foundation/foundation.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
</body>

</html>
